
.slick-next {
    right: 10px;
    background: rgb(243, 243, 243) !important;
    border-radius: 7px;
    margin-top: -25px;
  }
  
  .slick-prev {
    left: 10px;
    z-index: 2;
    background: rgb(243, 243, 243) !important;
    border-radius: 7px;
    margin-top: -20px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: rgb(0, 0, 0);
  }
